.gallery {
    .wrapper--margin {
        .gallery__container {
            padding: 30px 10px;

            .gallery__element {
                margin: 20px;
                transition: .3s;
                opacity: 0;
                display: block;
                color: black;
                text-decoration: none;

                .gallery__img-container {


                    .gallery__img {
                        background-image: url("../img/slider2-5.jpeg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        max-height: 100%;
                        width: auto;
                        height: auto;
                        max-width: 513px;
                        height: 315px;
                        width: 100%;

                    }
                }

                .gallery__text-container {
                    padding: 20px;
                    @include flexParent(row, nowrap, space-between, center);
                    border-bottom: 1px solid $gray-color;

                    .gallery__text {
                        font-family: $font-family;
                        font-weight: $medium-weight;
                        line-height: 1.2;
                        font-size: vw(15px, 400px);
                    }

                    @media (min-width:770px) {
                        .gallery__text {
                            font-size: 15px
                        }
                    }

                    @media (min-width:1500px) {
                        .gallery__text {
                            font-size: 20px
                        }
                    }

                    .gallery__text-link {
                        text-decoration: none;
                        color: $pink-color;
                        text-transform: uppercase;
                        font-family: $font-family;
                        font-weight: $bold-weight;
                        font-size: 13px;
                    }
                }
            }

            .gallery__element:hover {
                box-shadow: $gray-color 5px 5px 5px 3px;
            }


        }

        @media (min-width:770px) {
            .gallery__container {
                @include flexParent(row, wrap, space-between, center);


                .gallery__element {
                    flex-basis: 48%;
                    margin: 0 0 20px 0;

                }
            }

        }

        @media (min-width:1000px) {
            .gallery__container {
                max-width: 1500px;
                margin: 0 auto;


                .gallery__element {
                    flex-basis: 32%;
                    margin: 0 5px 20px 0;
                    max-width: 513px;

                }
            }

        }
      
    }
}

.gallery.active {

    .gallery__element:nth-child(1) {
        animation: show .3s linear both;
    }

    .gallery__element:nth-child(2) {
        animation: show .3s linear both;
        animation-delay: .3s;
    }

    .gallery__element:nth-child(3) {
        animation: show .3s linear both;
        animation-delay: .6s;
    }

    .gallery__element:nth-child(4) {
        animation: show .3s linear both;
        animation-delay: .9s;
    }

    .gallery__element:nth-child(5) {
        animation: show .3s linear both;
        animation-delay: 1.2s;
    }

    .gallery__element:nth-child(6) {
        animation: show .3s linear both;
        animation-delay: 1.5s;
    }

    .gallery__element:nth-child(7) {
        animation: show .3s linear both;
        animation-delay: 1.8s;
    }

    .gallery__element:nth-child(8) {
        animation: show .3s linear both;
        animation-delay: 2.1s;
    }

    .gallery__element:nth-child(9) {
        animation: show .3s linear both;
        animation-delay: 2.4s;
    }

    .gallery__element:nth-child(10) {
        animation: show .3s linear both;
        animation-delay: 2.4s;
    }

}