* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    height: 200vh;
    background: white
}

.wrapper {
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1600px;
    width: 100%;
    max-width: 1600px;
    
    
}

.bold{
    font-weight: $bold-weight;
}