.sliderLogos {
    display: none;
}


@media (min-width:770px) {
    .sliderLogos {
        display: block;
        margin: 62px 3vw 55px 3vw;
        overflow: hidden;
        width: calc(100vw - 6vw);

        .wrapper {
            overflow: hidden;





            .sliderLogos-container {
                @include flexParent(row, nowrap, space-between, center);
                transition: 0.4s linear;
                max-width: calc(1600px + 20%);
                




                .sliderLogos-item {
                    position: relative;
                    width: calc(20% - 6vw);
                    transition: 0.4s linear;
                    // max-width: 309px;
                    max-height: 130px;
                    width: 100%;




                    .sliderLogos-img-container {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        min-height: 50px;
                        height: 5vw;
                        max-height: 130px;
                        width: 100%;





                        .sliderLogos-img {
                            @include position(absolute, 50%, 50%);
                            transform: translate(-50%, -50%);
                            filter: grayscale(1);
                            transition: 0.3s;
                            padding: 5px 0;
                            height: 70%;
                            display: block;
                        }
                    }

                    @media (min-width:1600px) {
                        .sliderLogos-img-container {
                            height: 120px;

                            .sliderLogos-img {
                                padding: 10px 0;
                            }
                        }
                    }

                    @media (min-width:1900px) {
                        .sliderLogos-img-container {
                            height: 130px;

                            .sliderLogos-img {
                                padding: 15px 0;
                            }
                        }
                    }

                    .sliderLogos-img-container::before {
                        display: block;
                        content: "";
                        height: 5vw;
                        max-height: 80px;
                        width: 1px;
                        background-color: #DCDDE0;
                        @include position(absolute, 50%, 0);
                        transform: translateY(-50%)
                    }


                }

                .sliderLogos-item:nth-child(1) .sliderLogos-img-container::before {

                    display: none;
                }

                .sliderLogos-item:hover .sliderLogos-img {
                    filter: grayscale(0);
                }
            }
        }
    }

    // .sliderLogos.active{
    //     margin-left: -20%;
    //     .sliderLogos-item:nth-child(1){
    //         opacity: 0;
    //     }
    // }
}

// @media (min-width:1600px) {
//     .sliderLogos{
//         width: 1600px;
//         margin: 30px 0
//     }
// }