$icomoon-font-family: "paulus" !default;
$icomoon-font-path: "../fonts" !default;

$icon-clock: "\e900";
$icon-icon_01-path1: "\e901";
$icon-icon_01-path2: "\e902";
$icon-icon_01-path3: "\e903";
$icon-icon_01-path4: "\e904";
$icon-icon_01-path5: "\e905";
$icon-icon_02: "\e906";
$icon-icon_03: "\e907";
$icon-icon_04: "\e908";
$icon-icon_05: "\e909";
$icon-icon_06: "\e90a";
$icon-icon_07: "\e90b";
$icon-icon_08: "\e90c";
$icon-icon_09: "\e90d";
$icon-icon_10: "\e90e";
$icon-icon_11: "\e90f";
$icon-icon_clock: "\e910";
$icon-logo-path1: "\e911";
$icon-logo-path2: "\e912";
$icon-logo-path3: "\e913";
$icon-logo-path4: "\e914";
$icon-search: "\e986";

