$blue-color:#0f5499;
$bold-weight:700;
$light-weight:200;
$medium-weight:500;
$regular-weight:400;
$border-color:#f1f1f1;
$pink-color:#ff3366;
$darker-pink-color:#E6175C;
$text-color:#202020;
$gray-color:#DCDDE0;
$gray-bck-color:#F7F7FA;
$font-family:"Ubuntu","Arial",sans-serif;
