@import 'variables';
@import 'variables_paulus';
@import 'paulus';
@import'functions';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'nav';
@import 'slider';
@import 'advantages';
@import 'offer';
@import 'procces';
@import 'blog';
@import 'completion';
@import 'sliderLogos';
@import 'footerDesc';
@import 'footerMob';
@import 'animation';




